<%= link_to post do %>
  <li>
    <div class="post">
      <div class="post__top_box">
        <div class="post__top_box__name">
          <span>投稿者：<%= post.user.name %></span>
        </div>
        <div class="post__top_box__time">
          <span>投稿日時：<%= l post.created_at %></span>
        </div>
      </div>
      <div class="post__middle_box">
        <span><%= simple_format(post.content) %></span>
      </div>
      <div class="post__bottom_box">
        <ul class="post__bottom_box__user_actions">
          <li>
            <i class="far fa-comment-alt"></i>
            <span><%#= post.comments.count if post.comments.present? %></span>
          </li>
          <li>
            <i class="far fa-heart"></i>
            <span><%#= post.likes.count if post.likes.present? %></span>
          </li>
        </ul>
        <% if post.user == current_user %>
          <ul class="post__bottom_box__admin_actions">
            <li><%= link_to '編集', '#' %></li>
            <li><%= link_to '削除', '#' %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </li>
<% end %>
