<div class="post_wrapper">
  <div class="post_wrapper__header">
    <h3>
      <span>投稿詳細</span>
    </h3>
    <div class="back_link">
      <%= link_to root_path do %>
        <i class="fas fa-angle-double-left"></i>
        <span>一覧へ戻る</span>
      <% end %>
    </div>
  </div>
  <div class="post_wrapper__content scroll">
    <div class="post_wrapper__content__post_show">
      <div class="post_detail">
        <div class="post_detail__top_box">
          <div class="post_detail__top_box__name">
            <span>投稿者：<%= @post.user.name %></span>
          </div>
          <div class="post_detail__top_box__name">
            <span>投稿日時：<%= l @post.created_at %></span>
          </div>
        </div>
        <div class="post_detail__middle_box">
          <span><%= @post.content %></span>
        </div>
        <div class="post_detail__bottom_box">
          <ul class="post_detail__bottom_box__user_actions">
            <li>
              <i class="far fa-comment-alt"></i>
              <span><%= @post.comments.count %></span>
            </li>
            <li>
              <i class="far fa-heart"></i>
              <span>0</span><%# いいね機能実装時に表示が切り替わる様に変更予定 %>
            </li>
          </ul>
            <% if @post.user == current_user %>
              <div class="post_detail__bottom_box__admin_actions">
                <%= link_to '編集', '#' %>
                <%= link_to '削除', '#' %>
              </div>
            <% end %>
        </div>
      </div>
    </div>
    <div class="comment_area">
      <ul class="comment_area__list">
        <%= render partial: 'comments/index', locals: { comments: @comments, post: @post } %>
      </ul>
      <div class="comment_area__form_box">
        <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
      </div>
    </div>
  </div>
</div>
